<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Lista de desejos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let game of games">
    <ion-img [src]="game.foto"></ion-img>
    <ion-card-header>
      <ion-card-title> {{ game.nome }} </ion-card-title>
      <ion-card-subtitle> {{game.preco | currency: 'BRL'}} </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <strong>Genero: </strong> {{ game.genero | genero}} <br />
      <strong>Lançamento: </strong> {{ game.lancamento | date: 'dd/MM/yyyy'}}
    </ion-card-content>
  </ion-card>
</ion-content>
